<div id="details" class="span8">
    <% _.each(usuarios, function(usuarios) { %>
    <%if(usuarios.nombre){%>
    <a href="#employees/<%= usuarios.ID %>">
    <div class="span3 caja">
        <h3 class="nombre"><%= usuarios.nombre %> <%= usuarios.apellido %></h3>
        <p class="imagen_perfil"><img src="pics/<%= usuarios.nombre %>_<%= usuarios.apellido %>.jpg" width="160" height="160"/></p>
        <h4 class="puesto"><%= usuarios.puestonombre %></h4>
        <br>
    </div>
    </a>
    <%}%>
    <% }); %>
</div>
<div id="details" class="span3">
    <div class="well">
        <h3 class="modal-header">Estadisticas</h3>
          <p>Empleados en el Departamento: <%= usuarios.cantidad %></p>
          <p>Puestos en el Departamento: <%= usuarios.puesto %></p>
    </div>
</div>  
