<div class="row-fluid">
    <h1>Talento Humano</h1>
    <div class="span12">
    	<div class="alerta"></div>
    </div>
	<div class="talento-humano row-fluid">
	    <div class="span4 text-center">
	    	 <h4 style="margin: 15px 0;">Pais:</h4>
	    	 <h4 style="margin: 15px 0;">Sucursal:</h4>
 			 <h4 style="margin: 15px 0;">Departamento:</h4>
	    </div>
	    <div class="span4 text-center">

		    <select class="dynamicdrop pais">
		  	    <% _.each(pais, function(pais) { %>
				    <option value=<%= pais.ID %>><%= pais.nombre %></option>
				<% }); %>
			</select>
		    <select class="dynamicdrop sucursal">
			</select>
			<select class="dynamicdrop departamento">
			</select>
	    </div>
	    <div class="span4 text-center">
	    	<button class="alt-1" id="tarjeta">Ver Grupo</button>
	    </div>
	</div>

</div>
